/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


h2.med {
  line-height: 200%;
}
p.med {
    line-height: 100%;
}

h5.med {
    line-height: 100%;
}

.col-md-12 {
  background-color: red;
}

.col-lg-11 {
  background-color: #EEE0E5;
}

.col-md-8 {
  background-color: #C1FFC1;
}

.col-md-4 {
  background-color: #6959CD;
}

.navbar {
  margin-bottom: 20px;
  background-color: black;
}

.ping-pong {
  padding-top: 200px;
}

