<div class="container">
  <div class="first">
    <h1>Simple 2 column CSS layout, final layout</h1>
  </div>
  <div class="second">
    <a href="">Option 1</a>
    <a href="">Option 2</a>
    <a href="">Option 3</a>
    <a href="">Option 4</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Column 1</h2>
      <a href="">456 Berea Street Home</a>
      <br/>
      <a href="">Simple 2 column CSS layout</a>
      <br/>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
    <div class="col-md-4">
      <h2>Column 2</h2>
      <br/>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
      <div class="list">
        <ul>
          <li><a href="">Link 1</a></li>
          <li><a href="">Link 2</a></li>
          <li><a href="">Link 3</a></li>
          <li><a href="">Link 4</a></li>
          <li><a href="">Link 5</a></li>
          <li><a href="">Link 6</a></li>
          <li><a href="">Link 7</a></li>
          <li><a href="">Link 8</a></li>
          <li><a href="">Link 9</a></li>
          <li><a href="">Link 10</a></li>
          <li><a href="">Link 11</a></li>
          <li><a href="">Link 12</a></li>
          <li><a href="">Link 13</a></li>
          <li><a href="">Link 14</a></li>
          <li><a href="">Link 15</a></li>
        </tr>
      </div>
    </div>
  </div>
</div>